
form {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    width: 350px;
    height: 600px;
    padding: 4em;
    border: 3px solid #bdbdbd;
    border-radius: 1em;

}

li {
    margin-block-end:12px;
}
ul {
    list-style: none;
    position: relative;
    margin: -10px;

}

h1 {
    width: 20px;
    text-align:  right;
    font: 1.4em calibri;
    box-sizing: border-box;

}

input  {
    padding: 8px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 12px;

}

button {
    margin-top: 12px;
    background-color: #006598;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;
    border: 2px solid #00216f;
    border-radius: 12px;
    transition-duration: 0.4s;

}

button:hover {
    background-color: #00216f; /* Green */
    color: white;
  }

form img {
    width: 200px;
    position: relative;
    left: 100px;
  
}

div .register{
    margin-left: 55px;
}




  

